---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app rook-ceph-cluster
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: rook-ceph-operator
  healthChecks:
    - apiVersion: ceph.rook.io/v1
      kind: CephCluster
      namespace: storage
      name: rook-ceph
  healthCheckExprs:
    - apiVersion: ceph.rook.io/v1
      kind: CephCluster
      inProgress: status.phase == 'Progressing'
      failed: status.ceph.health == 'HEALTH_ERR'
      current: status.ceph.health in ['HEALTH_OK', 'HEALTH_WARN']
  interval: 1h
  path: ./kubernetes/base/storage/rook-ceph-cluster
  postBuild:
    substitute:
      APP: *app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
