---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name pgbackweb
spec:
  refreshInterval: 12h
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: *name
    template:
      data:
        PBW_ENCRYPTION_KEY: "{{ .PBW_ENCRYPTION_KEY }}"
        PBW_POSTGRES_CONN_STRING: '{{ index . "pgbouncer-uri" }}'
        SSL_CERT_FILE: "/trusted_certs/letsencrypt-certs.pem"
  dataFrom:
    - extract:
        key: korg/pgbackweb
    - extract:
        key: postgres-pguser-pgbackweb
      sourceRef:
        storeRef:
          kind: ClusterSecretStore
          name: database-secrets
