---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app flux-instance
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: external-secrets-stores
      namespace: external-secrets
    - name: flux-operator
      namespace: &namespace flux-system
  interval: 1h
  path: ./kubernetes/base/flux-system/flux-instance
  postBuild:
    substitute:
      APP: flux-webhook
  prune: true
  sourceRef:
    kind: GitRepository
    name: *namespace
    namespace: *namespace
