---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vpn-gateway
spec:
  interval: 30m
  chart:
    spec:
      chart: pod-gateway
      version: 6.5.1
      sourceRef:
        kind: HelmRepository
        name: angelnu-charts
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    global:
      fullnameOverride: *app
    image:
      repository: ghcr.io/angelnu/pod-gateway
      tag: v1.13.0@sha256:a5b032e15f7570493977b330a5a86dcffebb807d35685ad803e47afb62d105f2
    settings:
      NOT_ROUTED_TO_GATEWAY_CIDRS: "${CLUSTER_CIDR} ${SERVICE_CIDR}"
      VPN_BLOCK_OTHER_TRAFFIC: true
      VPN_LOCAL_CIDRS: "172.16.0.0/24 ${CLUSTER_CIDR} ${SERVICE_CIDR}"
      GATEWAY_ENABLE_DNSSEC: false
      VPN_INTERFACE: wg0
      # 1637 is for wireguard
      VPN_TRAFFIC_PORT: 1637
      # 1194 is for openvpn
      #VPN_TRAFFIC_PORT: 1194
    podAnnotations:
      configmap.reloader.stakater.com/reload: *app
      secret.reloader.stakater.com/reload: *app
    publicPorts:
      - hostname: flood
        IP: 10
        ports:
          - type: udp
            port: 60112
          - type: tcp
            port: 60112
    addons:
      vpn:
        enabled: true
        type: gluetun
        gluetun:
          image:
            repository: ghcr.io/qdm12/gluetun
            tag: v3.40.0@sha256:2b42bfa046757145a5155acece417b65b4443c8033fb88661a8e9dcf7fda5a00
        env:
          TZ: "${TIMEZONE}"
          VPN_SERVICE_PROVIDER: airvpn
          VPN_TYPE: wireguard
          VPN_INTERFACE: wg0
          WIREGUARD_MTU: 1320
          SERVER_REGIONS: Europe
          SERVER_COUNTRIES: Netherlands
          FIREWALL_ENABLED_DISABLING_IT_SHOOTS_YOU_IN_YOUR_FOOT: off
          DOT: off
          HTTP_CONTROL_SERVER_ADDRESS: ":80"
          HTTP_CONTROL_SERVER_LOG: off
          PUBLICIP_API: ip2location
        envFrom:
          - secretRef:
              name: *app
        resources:
          requests:
            cpu: 5m
            memory: 64M
          limits:
            memory: 128M
        securityContext:
          capabilities: { add: ["NET_ADMIN"] }
        # network policy is disabled because we need 2 CiliumNetworkPolicies
        networkPolicy:
          enabled: false
    # all namespaces that will utilize the vpn should be added here
    routed_namespaces: &routedNamespaces
      - downloads
    webhook:
      image:
        repository: ghcr.io/angelnu/gateway-admision-controller
        tag: v3.10.0@sha256:a8ed630613de277244dfe203cd11d05905d7eeba8d8c41e399b02ee9a847b2f5

      # -- string: Selector for namespace. boolean
      # All the routed_namespaces will be matched
      namespaceSelector:
        type: custom
        custom:
          matchExpressions:
            - key: kubernetes.io/metadata.name
              operator: "In"
              values: *routedNamespaces

      # -- boolean: Default behaviour for new PODs in the evaluated namespace
      # if true then the gatewayLabel and gatewayAnnotation below will not be utilized and the
      # gateway will be injected into every pod in the routed_namespaces
      gatewayDefault: false

      # -- boolean: gatewayLabel and gatewayAnnotation controls the label/annotation key of which the value,
      #   by default, must be 'true' on the pod in order for the gateway sidecar to be injected.
      gatewayLabel: use-vpn-gateway
      gatewayAnnotation:

      # -- string: When a value is configured for the gatewayLabelValue or setGatewayAnnotationValue,
      #   the value of the label and/or annotation set on the gatewayLabel or gatewayAnnotation
      #   must match the gatewayLabelValue or setGatewayAnnotationValue instead of the default 'true'.
      gatewayLabelValue:
      gatewayAnnotationValue:
  postRenderers:
    - kustomize:
        patches:
          - target:
              kind: Service
              name: *app
            patch: |
              - op: add
                path: /spec/ports/-
                value:
                  name: gluetun
                  port: 80
                  protocol: TCP
                  targetPort: 80
          - target:
              kind: Deployment
              name: *app
            patch: |
              - op: add
                path: /spec/template/spec/containers/1/ports
                value: []
          - target:
              kind: Deployment
              name: *app
            patch: |
              - op: add
                path: /spec/template/spec/containers/1/ports/-
                value:
                  containerPort: 80
                  name: gluetun
                  protocol: TCP
