---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app peanut
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      peanut:
        containers:
          app:
            image:
              repository: brandawg93/peanut
              tag: 5.17.0@sha256:723f51f562cc44a340c38d1db98809d3b07474a44616943c741884feeceb8c99
            env:
              TZ: "${TIMEZONE}"
              NUT_HOST: nut-upsd.kube-system.svc.cluster.local
              NUT_PORT: 3493
              WEB_PORT: &port 8080
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            path: /api/v1/metrics
            interval: 1m
            scrapeTimeout: 10s
    ingress:
      app:
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: peanut
          gethomepage.dev/name: Peanut
          gethomepage.dev/group: Observability
          gethomepage.dev/description: UPS Monitor
          gethomepage.dev/widget.type: peanut
          gethomepage.dev/widget.url: http://peanut.observability:8080
          gethomepage.dev/widget.key: SMART3000RMXL2U
        hosts:
          - host: "ups.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      tmp:
        type: emptyDir
      config-files:
        type: configMap
        name: *app
        globalMounts:
          - path: /config/settings.yml
            subPath: settings.yml
