---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app volsync-src-fixer
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      volsync-src-fixer:
        type: cronjob
        annotations:
          configmap.reloader.stakater.com/reload: *app
        cronjob:
          schedule: "30 * * * *"
          ttlSecondsAfterFinished: 3600
        containers:
          main:
            image:
              repository: docker.io/bitnami/kubectl
              tag: 1.31.1
            command:
              - "/bin/bash"
              - "-c"
              - "/app/volsync-src-fixer.sh"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 128Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        seccompProfile: { type: RuntimeDefault }
    serviceAccount:
      create: true
      name: *app
    persistence:
      script:
        enabled: true
        type: configMap
        name: *app
        defaultMode: 0755
        globalMounts:
          - path: /app/volsync-src-fixer.sh
            subPath: volsync-src-fixer.sh
