---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/cilium.io/ciliumloadbalancerippool_v2alpha1.json
apiVersion: cilium.io/v2alpha1
kind: CiliumLoadBalancerIPPool
metadata:
#% if bootstrap_bgp.enabled %#
  name: l3-pool
#% elif not bootstrap_feature_gates.dual_stack_ipv4_first %#
  name: l2-pool
#% endif %#
spec:
  allowFirstLastIPs: "Yes"
  blocks:
#% if bootstrap_bgp.enabled %#
    - cidr: "#{ bootstrap_bgp.advertised_network }#"
#% elif not bootstrap_feature_gates.dual_stack_ipv4_first %#
    - cidr: "#{ bootstrap_node_network }#"
#% endif %#
