---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/clustersecretstore_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: &name bws-cache
spec:
  # refreshInterval: 60
  provider:
    webhook:
      url: "http://bws-cache.security.svc.cluster.local:5000/key/{{ .remoteRef.key }}"
      headers:
        Authorization: "Bearer {{ print .serviceaccount.token }}"
      result:
        jsonPath: "$.value"
      secrets:
      - name: serviceaccount
        secretRef:
          name: *name
          key: token
          namespace: security
