---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: rook-ceph-dashboard
spec:
  refreshInterval: 12h
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: rook-ceph-dashboard-password # rook-ceph expects this name
    template:
      data:
        password: "{{ .ROOK_DASHBOARD }}"
  dataFrom:
    - extract:
        key: "${SECRET_PREFIX}/rook-ceph"
