---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name csi-driver-smb
spec:
  refreshInterval: 12h
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: *name
    template:
      data:
        username: "{{ .CIFS_USER }}"
        password: "{{ .CIFS_PASS }}"
        mountOptions: "dir_mode=0775,file_mode=0664,uid=0,gid=0,noperm,mfsymlinks,noserverino,multichannel,max_channels=4"
  dataFrom:
    - extract:
        key: korg/qnap
