---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name radarr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: *name
    template:
      data:
        RADARR__AUTH__APIKEY: "{{ .RADARR_API_KEY }}"
        RADARR__POSTGRES__HOST: '{{ index . "pgbouncer-host" }}'
        RADARR__POSTGRES__MAINDB: '{{ index . "dbname" }}'
        RADARR__POSTGRES__PASSWORD: '{{ index . "password" }}'
        RADARR__POSTGRES__PORT: '{{ index . "pgbouncer-port" }}'
        RADARR__POSTGRES__USER: '{{ index . "user" }}'
  dataFrom:
    - extract:
        key: korg/radarr
    - extract:
        key: postgres-pguser-radarr
      sourceRef:
        storeRef:
          kind: ClusterSecretStore
          name: database-secrets
