# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
---
# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.9.5
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: v1.34.2

clusterName: kubernetes
endpoint: https://10.0.150.100:6443

clusterPodNets:
  - "10.69.0.0/16"
clusterSvcNets:
  - "10.96.0.0/16"

additionalApiServerCertSans: &sans
  - "10.0.150.100"
  - "korg.lan.kraven.org"
  - "korg-n1.lan.kraven.org"
  - "korg-n2.lan.kraven.org"
  - "korg-n3.lan.kraven.org"
  - "127.0.0.1"
additionalMachineCertSans: *sans

# Disable built-in Flannel to use Cilium
cniConfig:
  name: none

nodes:
  - hostname: "korg-n1"
    ipAddress: "10.0.150.99"
    installDisk: "/dev/disk/by-id/ata-SATA_SSD_DA09079110EC06342341"
    machineSpec:
      secureboot: true
    schematic: &schematic
      customization:
        extraKernelArgs:
          - i915.modeset=1                      # Meteor Lake CPU / iGPU
          - i915.enable_guc=3                   # Meteor Lake CPU / iGPU
          - apparmor=0                          # Less security, faster puter
          - init_on_alloc=0                     # Less security, faster puter
          - init_on_free=0                      # Less security, faster puter
          - intel_iommu=on                      # PCI Passthrough
          - iommu=pt                            # PCI Passthrough
          - mitigations=off                     # Less security, faster puter
          - module_blacklist=igc                # Disable onboard NIC
          - security=none                       # Less security, faster puter
          - sysctl.kernel.kexec_load_disabled=1 # Meteor Lake CPU / iGPU
          - talos.auditd.disabled=1             # Less security, faster puter
    talosImageURL: factory.talos.dev/installer-secureboot/810f7a1b95fd41a652264bd7e172b67e1eda2a7bbccfa3ca764463021cb0de56
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "1c:fd:08:7c:b3:5e"
        dhcp: false
        addresses:
          - "10.0.150.99/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "10.0.150.1"
        mtu: 9000
        vip:
          ip: "10.0.150.100"
    extensionServices: &extensionServices
      - name: nut-client
        configFiles:
          - content: MONITOR ${upsmonHost} 1 monuser secret slave
            mountPath: /usr/local/etc/nut/upsmon.conf
          - content: MODE=netclient
            mountPath: /usr/local/etc/nut/nut.conf
  - hostname: "korg-n2"
    ipAddress: "10.0.150.98"
    installDisk: "/dev/disk/by-id/ata-SATA_SSD_DC4E079110EC06342361"
    machineSpec:
      secureboot: true
    schematic: *schematic
    talosImageURL: factory.talos.dev/installer-secureboot/810f7a1b95fd41a652264bd7e172b67e1eda2a7bbccfa3ca764463021cb0de56
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "1c:fd:08:7c:b3:12"
        dhcp: false
        addresses:
          - "10.0.150.98/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "10.0.150.1"
        mtu: 9000
        vip:
          ip: "10.0.150.100"
    extensionServices: *extensionServices
  - hostname: "korg-n3"
    ipAddress: "10.0.150.97"
    installDisk: "/dev/disk/by-id/ata-SATA_SSD_DC4E079110EC06341678"
    machineSpec:
      secureboot: true
    schematic: *schematic
    talosImageURL: factory.talos.dev/installer-secureboot/810f7a1b95fd41a652264bd7e172b67e1eda2a7bbccfa3ca764463021cb0de56
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "1c:fd:08:7c:b2:3f"
        dhcp: false
        addresses:
          - "10.0.150.97/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "10.0.150.1"
        mtu: 9000
        vip:
          ip: "10.0.150.100"
    extensionServices: *extensionServices
  - hostname: "korg-n4"
    ipAddress: "10.0.150.96"
    installDisk: "/dev/disk/by-id/ata-SATA_SSD_B7A307871B5300035278"
    machineSpec:
      secureboot: true
    schematic: *schematic
    talosImageURL: factory.talos.dev/installer-secureboot/810f7a1b95fd41a652264bd7e172b67e1eda2a7bbccfa3ca764463021cb0de56
    controlPlane: false
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "1c:fd:08:7c:b2:58"
        dhcp: false
        addresses:
          - "10.0.150.96/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "10.0.150.1"
        mtu: 9000
    extensionServices: *extensionServices


# Global patches
patches:
  - |-
    - op: replace
      path: /machine/install/wipe
      value: true
  - "@./patches/global/machine-files.yaml"
  - "@./patches/global/machine-kubelet.yaml"
  - "@./patches/global/machine-network.yaml"
  - "@./patches/global/machine-sysctls.yaml"
  - "@./patches/global/machine-sysfs.yaml"
  - "@./patches/global/machine-time.yaml"
  - "@./patches/global/machine-udev.yaml"

# Controller patches
controlPlane:
  patches:
    - "@./patches/controller/admission-controller-patch.yaml"
    - "@./patches/controller/cluster.yaml"
