---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/postgres-operator.crunchydata.com/postgrescluster_v1beta1.json
apiVersion: postgres-operator.crunchydata.com/v1beta1
kind: PostgresCluster
metadata:
  name: ${NAMESPACE}
spec:
  postgresVersion: 17
  monitoring:
    pgmonitor:
      exporter:
        resources:
          requests:
            cpu: 10m
            memory: 64M
          limits:
            memory: 512M
  patroni: # turn on sync writes to at least 1 other replica
    dynamicConfiguration:
      synchronous_mode: true
      postgresql:
        max_wal_size: 5GB
        synchronous_commit: "on"
        parameters:
          max_connections: 500
  instances:
    - name: pgo-cluster
      metadata:
        labels:
          app.kubernetes.io/name: ${NAMESPACE}-pgo
      replicas: ${PGO_REPLICAS:-3}
      dataVolumeClaimSpec:
        storageClassName: local-path
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 5Gi
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: "kubernetes.io/hostname"
          whenUnsatisfiable: "DoNotSchedule"
          labelSelector:
            matchLabels:
              postgres-operator.crunchydata.com/cluster: ${NAMESPACE}
  users: ${USERS}
  backups:
    pgbackrest:
      configuration: &backupConfig
        - secret:
            name: ${NAMESPACE}-pgo
      global: &backupFlag
        # Global
        compress-type: "bz2"
        compress-level: "9"
        backup-standby: "y"
        # QNAP
        repo1-block: "y"
        repo1-bundle: "y"
        repo1-path: /${NAMESPACE}
        repo1-retention-full: "30" # days
        repo1-retention-full-type: "time"
        repo1-s3-uri-style: path
      jobs:
        ttlSecondsAfterFinished: 60
      manual:
        repoName: repo1
        options:
          - --type=full
      metadata:
        labels:
          app.kubernetes.io/name: ${NAMESPACE}-backup
      repos:
        - name: repo1 # QNAP
          s3: &qnap
            bucket: "${VAULT_PREFIX}-pgo"
            endpoint: "${QNAP_HOSTNAME}:8010"
            region: "us-east-1"
          schedules:
            full: "30 1 * * 0" # Sunday at 01:30
            differential: "30 1 * * 1-6" # Mon-Sat at 01:30
            incremental: "30 3-23 * * *" # Every hour except 01:30-2:30
  dataSource:
    pgbackrest:
      stanza: db
      configuration: *backupConfig
      global: *backupFlag
      repo:
        name: "repo1"
        s3: *qnap
  proxy:
    pgBouncer:
      port: 5432
      service:
        metadata:
          annotations:
            gatus.home-operations.com/endpoint: |
              group: infrastructure
              alerts:
                - type: pushover
              ui:
                hide-url: true
                hide-hostname: true
      config:
        global:
          pool_mode: ${POOL_MODE:=session}
          client_tls_sslmode: prefer
          default_pool_size: "100"
          max_client_conn: "500"
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              postgres-operator.crunchydata.com/cluster: ${NAMESPACE}
              postgres-operator.crunchydata.com/role: "${NAMESPACE}-pgbouncer"
