---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app sonarr
  namespace: &namespace downloads
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/gatus/guarded
    - ../../../../components/ingress/secure
    - ../../../../components/volsync
  dependsOn:
    - name: cifs-pvcs-downloads
      namespace: downloads
    - name: crunchy-postgres-cluster
      namespace: database
    - name: external-secrets-stores
      namespace: external-secrets
    - name: volsync
      namespace: storage
  interval: 30m
  path: ./kubernetes/apps/downloads/sonarr/app
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 8Gi
      VOLSYNC_CACHE_CAPACITY: 4Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 5m
  wait: false
