---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name homepage
spec:
  refreshInterval: "5m"
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: *name
    template:
      engineVersion: v2
      templateFrom:
        - configMap:
            name: *name
            items:
              - key: services.yaml
      data:
        HOMEPAGE_VAR_GRAFANA_USERNAME: "{{ .GRAFANA_ADMIN_USERNAME }}"
        HOMEPAGE_VAR_GRAFANA_PASSWORD: "{{ .GRAFANA_ADMIN_PASSWORD }}"
        HOMEPAGE_VAR_LIDARR_TOKEN: "{{ .LIDARR_API_KEY }}"
        HOMEPAGE_VAR_OVERSEERR_TOKEN: "{{ .OVERSEERR_API_KEY }}"
        HOMEPAGE_VAR_PEANUT_TOKEN: "{{ .PEANUT_API_PASSWORD }}"
        HOMEPAGE_VAR_PLEX_TOKEN: "{{ .PLEX_TOKEN }}"
        HOMEPAGE_VAR_PROWLARR_TOKEN: "{{ .PROWLARR_API_KEY }}"
        HOMEPAGE_VAR_RADARR_TOKEN: "{{ .RADARR_API_KEY }}"
        HOMEPAGE_VAR_READARR_TOKEN: "{{ .READARR_API_KEY }}"
        HOMEPAGE_VAR_SABNZBD_TOKEN: "{{ .SABNZBD_API_KEY }}"
        HOMEPAGE_VAR_SONARR_TOKEN: "{{ .SONARR_API_KEY }}"
        HOMEPAGE_VAR_TAUTULLI_TOKEN: "{{ .TAUTULLI_API_KEY }}"
  dataFrom:
    - extract:
        key: korg/cloudflare
    - extract:
        key: korg/grafana
    - extract:
        key: korg/lidarr
    - extract:
        key: korg/opnsense
    - extract:
        key: korg/overseerr
    - extract:
        key: korg/peanut
    - extract:
        key: korg/plex
    - extract:
        key: korg/prowlarr
    - extract:
        key: korg/proxmox
    - extract:
        key: korg/qnap
    - extract:
        key: korg/qnap-backup
    - extract:
        key: korg/radarr
    - extract:
        key: korg/readarr
    - extract:
        key: korg/sabnzbd
    - extract:
        key: korg/sonarr
    - extract:
        key: korg/tautulli
