---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app esphome
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      esphome:
        containers:
          app:
            image:
              repository: ghcr.io/esphome/esphome
              tag: 2025.10.5@sha256:4c0d14265d2ddce3e3d3c4835c5dee925619a7bcab8291862f0ec712d5a91e27
            env:
              TZ: "${TIMEZONE}"
              ESPHOME_DASHBOARD_USE_PING: true
              PLATFORMIO_CORE_DIR: /cache/platformio
              PLATFORMIO_GLOBALLIB_DIR: /cache/platformio/lib
              PLATFORMIO_SETTING_ENABLE_TELEMETRY: No
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: *app
        ports:
          http:
            port: 6052
    ingress:
      app:
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Automation
          gethomepage.dev/name: ESPHome
          gethomepage.dev/icon: esphome
          gethomepage.dev/description: ESP Microcontroller Automation
          gethomepage.dev/widget.type: esphome
          gethomepage.dev/widget.url: "http://esphome.automation:6052"
        hosts:
          - host: "esphome.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /config
      esphome-cache:
        type: emptyDir
        globalMounts:
          - path: /config/.esphome
          - path: /cache
            subPath: cache
