---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app romm
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      romm:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/rommapp/romm
              tag: 3.10.3@sha256:f28660570b57a7032bc752724bebbc86828916211356b1d6110e03b139b807cf
            env:
              TZ: "${TIMEZONE}"
              DISABLE_DOWNLOAD_ENDPOINT_AUTH: true
              DISABLE_USERPASS_LOGIN: true # only set to true after first run and admin has been created
              ENABLE_SCHEDULED_RESCAN: true
              SCHEDULED_RESCAN_CRON: "0 3 * * *"
              ROMM_DB_DRIVER: postgresql
              REDIS_HOST: dragonfly.database.svc.cluster.local
              REDIS_PORT: 6379
              REDIS_DB: 11
              OIDC_ENABLED: true
              OIDC_PROVIDER: authelia
              OIDC_REDIRECT_URI: https://romm.${SECRET_DOMAIN}/api/oauth/openid
              OIDC_SERVER_APPLICATION_URL: https://auth.${SECRET_DOMAIN}
            envFrom:
              - secretRef:
                  name: *app
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 4Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: *app
        ports:
          http:
            port: 8080
    ingress:
      app:
        className: internal
        hosts:
          - host: "romm.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      data:
        existingClaim: *app
        advancedMounts:
          romm:
            app:
              - subPath: "resources"
                path: "/romm/resources"
              - subPath: "assets"
                path: "/romm/assets"
      config:
        type: emptyDir
        globalMounts:
          - path: /romm/config
      tmp:
        type: emptyDir
      games:
        existingClaim: cifs-games
        globalMounts:
          - path: /romm/library
            subPath: romm
