---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
spec:
  interval: 30m
  chart:
    spec:
      chart: external-secrets
      version: 0.20.4
      sourceRef:
        kind: HelmRepository
        name: external-secrets
        namespace: flux-system
  install:
    remediation:
      retries: 3
  postRenderers:
    - kustomize:
        patches:
          - target:
              group: rbac.authorization.k8s.io
              version: v1
              kind: ClusterRole
              name: external-secrets-controller
            patch: |
              - op: add
                path: /rules/-
                value:
                  apiGroups: ["authorization.k8s.io"]
                  resources: ["selfsubjectrulesreviews"]
                  verbs: ["create"]
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  valuesFrom:
    - kind: ConfigMap
      name: external-secrets-helm-values
