---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/v1.32.1/storageclass.json
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: cifs-dynamic
provisioner: smb.csi.k8s.io
parameters:
  source: //${QNAP_HOSTNAME}/appdata/cifs-dynamic
  subDir: "$${pvc.metadata.namespace}-$${pvc.metadata.name}"
  onDelete: delete
  csi.storage.k8s.io/provisioner-secret-name: "csi-driver-smb"
  csi.storage.k8s.io/provisioner-secret-namespace: "storage"
  csi.storage.k8s.io/node-stage-secret-name: "csi-driver-smb"
  csi.storage.k8s.io/node-stage-secret-namespace: "storage"
reclaimPolicy: Delete
volumeBindingMode: Immediate
allowVolumeExpansion: true
