---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app coder
spec:
  interval: 30m
  chart:
    spec:
      chart: *app
      version: 2.28.3
      sourceRef:
        kind: HelmRepository
        name: *app
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    podAnnotations:
      secret.reloader.stakater.com/reload: *app
    coder:
      podAnnotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "2112"
      resources:
        limits:
          memory: 1Gi
        requests:
          cpu: 71m
      envFrom:
        - secretRef:
            name: *app
      env:
        - name: CODER_ACCESS_URL
          value: "https://coder.${SECRET_DOMAIN}"
        - name: CODER_BLOCK_DIRECT
          value: "true"
        - name: CODER_DISABLE_PASSWORD_AUTH
          value: "true"
        - name: CODER_DERP_SERVER_STUN_ADDRESSES
          value: "disable"
        - name: CODER_EMAIL_FROM
          value: "Coder <admin@${SECRET_DOMAIN}>"
        - name: CODER_EMAIL_TLS_STARTTLS
          value: "true"
        - name: CODER_LOGGING_HUMAN
          value: "/dev/stderr"
        - name: CODER_OIDC_GROUP_AUTO_CREATE
          value: "true"
        - name: CODER_OIDC_GROUP_FIELD
          value: "groups"
        - name: CODER_OIDC_GROUP_MAPPING
          value: |
            {"Admins": "CoderAdmins"}
        - name: CODER_OIDC_ICON_URL
          value: "https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/svg/authelia.svg"
        - name: CODER_OIDC_ISSUER_URL
          value: "https://auth.${SECRET_DOMAIN}"
        - name: CODER_OIDC_ROLE_FIELD
          value: "groups"
        - name: CODER_OIDC_SCOPES
          value: "openid,profile,email,groups,offline_access"
        - name: CODER_OIDC_SIGN_IN_TEXT
          value: "Sign in with Authelia"
        - name: CODER_OIDC_USER_ROLE_MAPPING
          value: |
            {"Admins": ["owner"]}
        - name: CODER_PROMETHEUS_ENABLE
          value: "true"
        - name: CODER_PROMETHEUS_COLLECT_AGENT_STATS
          value: "true"
        - name: CODER_TELEMETRY_ENABLE
          value: "false"
        - name: CODER_WILDCARD_ACCESS_URL
          value: "*.coder.${SECRET_DOMAIN}"
        - name: CODER_UPDATE_CHECK
          value: "false"
      service:
        loadBalancerIP: ${SVC_CODER_ADDR}
        annotations:
          io.cilium/lb-ipam-ips: ${SVC_CODER_ADDR}
      ingress:
        enable: true
        className: internal
        host: "coder.${SECRET_DOMAIN}"
  postRenderers:
    - kustomize:
        patches:
          - target:
              kind: Service
              name: *app
            patch: |
              - op: add
                path: /spec/ports/-
                value:
                  name: prom-http
                  port: 2112
                  protocol: TCP
                  targetPort: 2112
